{% extends "base.html" %}

{% block body %}
<div class="container pt-5 transparent-2 rounded-1" style="height: 100%;">
    <div class="row justify-content-center">
        <div class="col-6 "><img src="{{ url_for('static', filename='img/taça.png') }}" width="100%" height="100%" alt=""></div>
        <div class="col-6">
            <form action="" method="post" class="">
                {{ formaddpartida.csrf_token }}
                <div class="row justify-content-center black rounded-4 shadow-lg transparent-3" style="height: 700px;">
                    <div class="col-8 p-4" style="border-radius: 0 20px 0 20px;">
                        <div class="row mb-4 white"><h4>Adicionar Partidas</h4></div>
                        
                        <div class="form col-12 mb-4 shadow-sm white">
                            {{ formaddpartida.etapa.label(class="", for="etapa") }}
                            {{ formaddpartida.etapa(class="form-control", id="etapa", placeholder="Digite a etapa da competição")}}
                            <!--
                            {{ formaddpartida.grupo.label(class="", for="grupo") }}
                            {{ formaddpartida.grupo(class="form-control", id="grupo", placeholder="Selecione o Grupo") }}-->                               
                        </div>
                        <div class="row mb-4 white">
                            <div class="form col-6">
                                {{ formaddpartida.selecao_casa.label(class="", for="selecao_casa") }}
                                {{ formaddpartida.selecao_casa(class="form-control shadow-sm", id="selecao_casa", placeholder="name@example.com.br") }}                                
                            </div>
                            <div class="form col-6">
                                {{ formaddpartida.selecao_fora.label(class="", for="selecao_fora") }}
                                {{ formaddpartida.selecao_fora(class="form-control shadow-sm", id="selecao_fora", placeholder="password") }}                             
                            </div>
                        </div>                       
                        <div class="row mb-5">
                            <div class="form-floating col-6">
                                {{ formaddpartida.data_partida(class="form-control shadow-sm", id="data_partida") }}
                                {{ formaddpartida.data_partida.label(class="form-label", for="data_partida") }}
                            </div>
                            <div class="form-floating col-6"> 
                                {{ formaddpartida.hora_partida(class="form-control shadow-sm", id="hora_partida") }}
                                {{ formaddpartida.hora_partida.label(class="form-label", for="hora_partida") }}
                            </div>
                        </div>
                            
                        <div class="col-12">
                            {{ formaddpartida.btn_submit(class="btn btn-primary") }}                        
                        </div>
                    </div>
                </div>
            </form>
            <script>
                let grupo_select = document.getElementById('grupo');
                let selecao_casa_select = document.getElementById('selecao_casa');
                let selecao_fora_select = document.getElementById('selecao_fora');

                grupo_select.onchange = function() {
                    grupo = grupo_select.value;
                    fetch('/selecoes/' + grupo).then(function(response) {
                        response.json().then(function(data) {
                            let optionHTML = '';
                            for (let selecao of data.selecoes) {
                                optionHTML += '<option value="' + selecao.id + '">' + selecao.name + '</option>';
                            }
                            selecao_casa_select.innerHTML = optionHTML;
                            selecao_fora_select.innerHTML = optionHTML;
                        });
                    });
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}