{% extends 'base.html' %}

{% block body %}

<div class="container font-monospace p-4" style="background-color: #130912e8;">
    <!--JOGOS DE HOJE-->
    <div class="row mb-5">
        <div class="col-12 font-monospace white"><h5>Jogos de Hoje</h5></div>
        {% for partida in partidas %}           
            {% if partida.data_partida.date() == data_atual.today().date() and partida.data_partida.time() > horas_meia_noite.time() %} 
        <div class="col-3 border rounded-2 bg-light p-2 shadow m-1 mb-3" style="height: 170px; width: 49%;">
            <div class="row">
                <div class="col-12">
                    <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                </div>
            </div>
            <div class="row align-items-center text-center mb-2 mt-1">
                <div class="col-5">
                    <h4>{{ partida.selecoes[0].nome }}</h4>
                </div>
                <div class="col-2">
                    <h4>X</h4>
                </div>
                <div class="col-5">
                    <h4>{{ partida.selecoes[1].nome }}</h4>
                </div>
            </div>
            <div class="row align-items-center text-center font-monospace" >
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Casa Vence</a>
                </div>
                <div class="col-4 m-0 p-0">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Empate</a>
                </div>
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Fora Vence</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
        {% if str(data_atual.today().date()) not in datas_partidas %}
        <div class="col-12"><h4 class="white">Sem eventos previsto para hoje {{ data_atual.today().date() }} || {{ datas_partidas }}</h4></div>
        {% endif %}
    </div>

    <!--JOGOS DE AMANHÃ-->

    <div class="row mb-5">
        <div class="col-12 font-monospace white"><h5>Jogos de Amanhã</h5></div>
        {% for partida in partidas %}       
            {% if partida.data_partida.date() == (data_atual.today().date() + timedelta(1)) %}
        <div class="col-3 border rounded-2 bg-light p-2 shadow m-1 mb-3" style="height: 170px; width: 30%;">
            <div class="row">
                <div class="col-12">
                    <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                </div>
            </div>
            <div class="row align-items-center text-center mb-2 mt-1">
                <div class="col-5">
                    <h4>{{ partida.selecoes[0].nome }}</h4>
                </div>
                <div class="col-2">
                    <h4>X</h4>
                </div>
                <div class="col-5">
                    <h4>{{ partida.selecoes[1].nome }}</h4>
                </div>
            </div>
            <div class="row align-items-center text-center font-monospace" >
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Casa Vence</a>
                </div>
                <div class="col-4 m-0 p-0">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Empate</a>
                </div>
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Fora Vence</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
        {% if str(data_atual.today().date() + timedelta(1)) not in datas_partidas %}
        <div class="col-12"><h4 class="white">Sem eventos previsto para amanhã</h4></div>
        {% endif %}
    </div>

    <!--JOGOS DA SEMANA-->

    <div class="row mb-5">
        <div class="col-12 font-monospace white"><h5>Outros Jogos da Semana</h5></div>
        {% for partida in partidas %}
            {% if partida.data_partida.date() >= (data_atual.today().date() + timedelta(2)) and partida.data_partida.date() < (data_atual.today().date() + timedelta(7)) %}
        <div class="col-3 border rounded-2 bg-light p-2 shadow m-1 mb-3" style="height: 200px; width: 24%;">
            <div class="row">
                <div class="col-6">
                    <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                </div>
            </div>
            <div class="row align-items-center text-center mb-5 mt-1">
                <div class="col-5">
                    <h4>{{ partida.selecoes[0].nome }}</h4>
                </div>
                <div class="col-2">
                    <h4>X</h4>
                </div>
                <div class="col-5">
                    <h4>{{ partida.selecoes[1].nome }}</h4>
                </div>
            </div>
            <div class="row align-items-center text-center font-monospace" >
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Casa Vence</a>
                </div>
                <div class="col-4 m-0 p-0">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Empate</a>
                </div>
                <div class="col-4 p-1">
                    <a href="" class="btn btn-danger" style="font-size: 12px;">Fora Vence</a>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Resultado dos ultimos jogos -->
    <div class="row white m-2 pt-4 justify-content-center transparent-2" style="">
        <div class="col-12"><h4 class="white">Últimos Jogos</h4></div>
        {% for partida in partidas %}
            {% if partida.status == 'Finalizada' %}
        <div class="row p-2 align-items-center transparent-3" style="">
            <div class="col-2 text-center"><div class="w-50 black bg-info rounded-2 align-self-center">{{ partida.data_partida.date().day }}/{{ partida.data_partida.date().month }}/{{ partida.data_partida.date().year }}</div></div>
            <div class="col-2 text-center"><div class="w-50 black bg-light rounded-2 align-self-center">Grupo {{ partida.selecoes[0].grupo.nome_grupo }}</div></div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col-10 align-self-center">{{partida.selecoes[0].nome }}</div>
                    <div class="col-2 rounded-2 bg-black white text-center p-1 align-self-center">{{ partida.gol_casa }}</div>
                </div>               
            </div>
            <div class="col-1 text-center align-self-center"><h4>X</h4></div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col-2 rounded-2 bg-black white text-center p-1 align-self-center">{{ partida.gol_fora }}</div>
                    <div class="col-10 align-self-center">{{partida.selecoes[1].nome }}</div>
                </div>              
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}