{% extends 'base.html' %}

{% block body %}

<div class="container font-monospace p-0 pb-2" style="background-color: #130912e8;">

    <!--Slide Eventos e entre outros-->
    <div class="row transparent-2 mx-0 mb-5 p-0 mt-1 justify-content-center" style="height: 300px;">
        <div id="carouselExampleIndicators" class="carousel slide mx-0 px-0" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="col-12 carousel-inner" style="">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/banner1.png') }}" class="d-block w-100" alt="..." width="100%" height="300px">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/banner2.png') }}" class="d-block w-100" alt="..." width="100%" height="300px">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/banner3.png') }}" class="d-block w-100" alt="..." width="100%" height="300px">
                </div>
            </div>
            <button class="carousel-control-prev transparent-3" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="width: 50px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next transparent-3" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="width: 50px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!--JOGOS DE HOJE-->
    <div class="row mb-5 px-2">
        <div class="col-12 font-monospace white"><h5>Jogos de Hoje</h5></div>
        {% for partida in partidas %}           
            {% if partida.data_partida.date() == data_atual.today().date() and partida.data_partida.time() > horas_meia_noite.time() and partida.status != "Finalizada" %} 
        <div class="col-xxl-3 col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-3">
            <div class="col-12 border rounded-2 bg-light p-2 shadow">
                <div class="row">
                    <div class="col-12">
                        <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[0].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                    <div class="col-5 offset-2 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[1].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                </div>
                <div class="row align-items-center text-center mb-2 mt-1">
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[0].nome }}</h5>
                    </div>
                    <div class="col-2">
                        <h4>X</h4>
                    </div>
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[1].nome }}</h5>
                    </div>
                </div>
                <div class="row align-items-center text-center font-monospace" >
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='casa') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='casa') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Casa Vence</a>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='empate') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='empate') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Empate</a>
                    </div>
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='fora') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='fora') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Fora Vence</a>
                    </div>
                </div>
            </div>
        </div>
        
            {% endif %}
        {% endfor %}
        {% if str(data_atual.today().date()) not in datas_partidas %}
        <div class="col-12"><h4 class="white">Sem eventos previsto para hoje</h4></div>
        {% endif %}
    </div>

    <!--JOGOS DE AMANHÃ-->

    <div class="row mb-5 px-2">
        <div class="col-12 font-monospace white"><h5>Jogos de Amanhã</h5></div>
        {% for partida in partidas %}       
            {% if partida.data_partida.date() == (data_atual.today().date() + timedelta(1)) and partida.status != "Finalizada" %}
        <div class="col-xxl-3 col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-3">
            <div class="col-12 border rounded-2 bg-light p-2 shadow">
                <div class="row">
                    <div class="col-12">
                        <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[0].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                    <div class="col-5 offset-2 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[1].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                </div>
                <div class="row align-items-center text-center mb-2 mt-1">
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[0].nome }}</h5>
                    </div>
                    <div class="col-2">
                        <h4>X</h4>
                    </div>
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[1].nome }}</h5>
                    </div>
                </div>
                <div class="row align-items-center text-center font-monospace" >
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='casa') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='casa') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Casa Vence</a>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='empate') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='empate') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Empate</a>
                    </div>
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='fora') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='fora') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Fora Vence</a>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
        {% if str(data_atual.today().date() + timedelta(1)) not in datas_partidas %}
        <div class="col-12"><h4 class="white">Sem eventos previsto para amanhã</h4></div>
        {% endif %}
    </div>

    <!--JOGOS DA SEMANA-->

    <div class="row mb-5 px-2">
        <div class="col-12 font-monospace white"><h5>Outros Jogos da Semana</h5></div>
        {% for partida in partidas %}
            {% if partida.data_partida.date() >= (data_atual.today().date() + timedelta(2)) and partida.data_partida.date() < (data_atual.today().date() + timedelta(7)) %}
        <div class="col-xxl-3 col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-3">
            <div class="col-12 border rounded-2 bg-light p-2 shadow">
                <div class="row">
                    <div class="col-12">
                        <p>Data: {{ partida.data_partida.day }}/{{ partida.data_partida.month }}/{{ partida.data_partida.year }}<br>Hora: {{ partida.data_partida.time() }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[0].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                    <div class="col-5 offset-2 text-center"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[1].foto_selecao)) }}" alt="" width="60px" height="40px"></div>
                </div>
                <div class="row align-items-center text-center mb-2 mt-1">
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[0].nome }}</h5>
                    </div>
                    <div class="col-2">
                        <h4>X</h4>
                    </div>
                    <div class="col-5 p-0 m-0 text-truncate">
                        <h5 class="fw-semibold">{{ partida.selecoes[1].nome }}</h5>
                    </div>
                </div>
                <div class="row align-items-center text-center font-monospace" >
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='casa') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='casa') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Casa Vence</a>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='empate') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='empate') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Empate</a>
                    </div>
                    <div class="col-4 p-1">
                        <a href="{% if current_user.is_authenticated %} {{ url_for('palpite', usuario=current_user.username, partida=partida.id, pitaco='fora') }} {% else %} {{ url_for('palpite', usuario='None', partida=partida.id, pitaco='fora') }} {% endif %}" class="btn btn-danger" style="font-size: 12px; max-height: 32px;">Fora Vence</a>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Resultado dos ultimos jogos -->
    <div class="row white m-2 pt-4 justify-content-center transparent-2 px-3" style="">
        <div class="col-12"><h4 class="white">Últimos Jogos</h4></div>
        {% for partida in partidas_finalizadas %}
        <div class="row p-2 align-items-center transparent-3 mb-1" style="">
            <div class="col-2 text-center"><div class="w-50 black bg-info rounded-2 align-self-center">{{ partida.data_partida.date().day }}/{{ partida.data_partida.date().month }}/{{ partida.data_partida.date().year }}</div></div>
            <div class="col-2 text-center"><div class="w-50 black bg-light rounded-2 align-self-center">Grupo {{ partida.selecoes[0].grupo.nome_grupo }}</div></div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-2"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[0].foto_selecao)) }}" alt="" width="30px"></div>
                            <div class="col-10"><div class="col-10 align-self-center">{{partida.selecoes[0].nome }}</div></div>                      
                        </div>
                    </div>                    
                    <div class="col-2 rounded-2 bg-black white text-center p-1 align-self-center">{{ partida.gol_casa }}</div>
                </div>               
            </div>
            <div class="col-1 text-center align-self-center"><h4>X</h4></div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col-2 rounded-2 bg-black white text-center p-1 align-self-center">{{ partida.gol_fora }}</div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-10"><div class="col-10 align-self-center">{{partida.selecoes[1].nome }}</div></div>                       
                            <div class="col-2"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(partida.selecoes[1].foto_selecao)) }}" alt="" width="30px"></div>
                        </div>
                    </div>                                    
                </div>              
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}