<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">
    <div class="container-fluid">
      <a class="navbar-brand font-monospace fw-bold white" href="#"><img src="/static/img/1.png" style="width: 35px; height: 35px;" alt="">World Cup Pitaco</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="row w-100">
            <div class="col-7">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'home' %} active {% endif %}" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'todas_partidas' %} active {% endif %}" href="{{ url_for('todas_partidas') }}">Partidas</a></li>       
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'classificacao' %} active {% endif %}" href="{{ url_for('fase_grupos') }}">Tabela de Classificação</a> </li> 
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'ranking_users' %} active {% endif %}" href="{{ url_for('ranking') }}">Ranking Usuarios</a></li>
                </ul>
            </div>
            <div class="col-5 list-unstyled">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                    {% if not current_user.is_authenticated %}                  
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'login' %} active {% endif %}" href="{{ url_for('login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link {% if session['page'] == 'cadastro_usuario' %} active {% endif %}" href="{{ url_for('add_usuario') }}">Cadastra-se</a></li> 
                    {% else %}
                        {% if current_user.admin == 'True' %}                            
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('add_partida') }}" >Adicionar Partida</a></li>
                        {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('perfil', usuario=current_user.username) }}">{{ current_user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-left"></i></a></li>
                    {% endif%}
                </ul>
                
            </div>
        </div>
      </div>
    </div>
</nav>