<nav class="navbar bg-light mb-1">
    <div class="navbar-brand shadow-sm navbar-expand-lg justify-content-center" style="width: 100%;">
        <div class="row container align-items-center">
            <div class="col-2">
                <a class="" href="{{ url_for('home') }}" style="text-decoration: none;"><h4>World Cup Pitaco</h4></a>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-10">
                        <ul class="list-inline p-0 m-0 text-center " style="font-size: 16px;">
                            <a href="{{ url_for('home') }}"><li class="list-unstyled list-inline-item mx-2">Home</li></a>
                            <a href=""><li class="list-unstyled list-inline-item mx-2">Partidas</li></a>
                            <a href="{{ url_for('login') }}"><li class="list-unstyled list-inline-item mx-2">Login</li></a>
                            <a href="{{ url_for('add_usuario') }}"><li class="list-unstyled list-inline-item mx-2">Cadastra-se</li></a>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul class="list-inline p-0 m-0 text-center " style="font-size: 16px;">
                            <a href="{{ url_for('add_partida') }}"><li class="list-unstyled list-inline-item mx-2">Adicionar Partida</li></a>
                            <a href=""><li class="list-unstyled list-inline-item mx-2">Definir Resultado</li></a>
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>      
    </div>
</nav>
