<nav class="navbar bg-dark navbar-brand navbar-expand-lg shadow me-0 p-0" style="height: 55px;">
        <div class="row align-items-center w-100">
            <div class="col-3 align-self-center justify-content-center" style="display:flex;">
                <img src="/static/img/1.png" style="width: 35px; height: 35px;" alt="">
                <a class="" href="{{ url_for('home') }}" style="text-decoration: none; padding-left: 5px;"><h4 style=" font-weight: 600; color:#fff;">World Cup Pitaco</h4></a>
            </div>
            <div class="col-9" style="">
                <div class="row justify-content-end">
                    <div class="col-8">
                        <ul class="list-inline p-0 text-center" style="margin-top: 7px;">
                            <a class="" href="{{ url_for('home') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Home</li></a>
                            <a class="" href="{{ url_for('todas_partidas') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Partidas</li></a>       
                            <a class="" href="{{ url_for('fase_grupos') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Tabela de Classificação</li></a>  
                            <a class="" href="{{ url_for('ranking') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Ranking Usuarios</li></a>                  
                    {% if not current_user.is_authenticated %}                  
                            <a class="" href="{{ url_for('login') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Login</li></a>
                            <a class="" href="{{ url_for('add_usuario') }}"><li class="list-unstyled list-inline-item mx-2 fs-6">Cadastra-se</li></a> 
                    {% else %}
                            <a class="" href="{{ url_for('add_partida') }}" ><li class="list-unstyled list-inline-item mx-2 fs-6">Adicionar Partida</li></a>
                            <a class="" href=""><li class="list-unstyled list-inline-item mx-2 fs-6 align-self-center">{{ current_user.username }}</li></a>
                            <a class="m-2" href="{{ url_for('logout') }}"><li class="list-unstyled list-inline-item "><i class="bi bi-box-arrow-left fs-3" style="font-size: 20px !important;
                            "></i></li></a>  
                    {% endif%}
                        </ul>
                    </div> 
                </div>                                      
            </div>
        </div>      
</nav>
