{% extends 'base.html' %}

{% block body %}  
<section class="back">
    <div class="login">
        <h1>Cadastro Pitacos</h1>
        <form action="" method="post">
            {{ formcad.csrf_token }}
            {{ formcad.email(placeholder="Email") }}
            {{ formcad.username(placeholder="Username") }}
            {{ formcad.password(placeholder="Password") }}
            {{ formcad.btn_submit(class="button mb-2 p-2") }}
        </form>
        <p>Já tem conta?<a href="{{ url_for('login') }}">Fazer login</a></p>
    </div>
</section>
{% endblock %}
