{% extends 'base.html' %}


{% block body %}

<section class="back">
    <div class="login">
        <div><img src="{{url_for('static',filename='img/1.png')}}" alt=""></div>
        <h1 class="text-center">World Cup Pitacos</h1>
        <form action="" method="POST">
            {{ formlogin.csrf_token }}
            {{ formlogin.email(placeholder="Email") }}
            {{ formlogin.password(placeholder="Password") }}
            {{ formlogin.btn_submit(class="button mb-2 p-2") }}
        <p>Ainda não tem conta?<a href="{{ url_for('add_usuario') }}">Criar conta</a></p>
    </div>
</section>

{% endblock %}
