<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-login.css">
    <title>tela de login</title>
</head>
<body>
    <section class="back">
        <div class="login">
            <div><img src="img/1.png" alt=""></div>
            <h1>World Cup Pitacos</h1>
            <form action="">
                <input type="text" name="nome" placeholder="Usuario">
                <input type="password" name="senha" placeholder="Senha">
                <button>Entrar</button>
            </form>
            <p>Ainda não tem conta?<a href="#">Criar conta</a></p>
        </div>
    </section>
</body>
</html>