<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/copadomundo/static/main.css">
    <title>Tela de Cadastro</title>
</head>
<body>
    <section class="back">
        <div class="login">
            <h1>Cadastro Pitacos</h1>
            <form action="">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="nome" placeholder="Usuario">
                <input type="password" name="senha" placeholder="Senha">
                <button>Entrar</button>
            </form>
            <p>Já tem conta?<a href="#">Fazer login</a></p>
        </div>
    </section>
</body>
</html>