{% extends 'base.html' %}

{% block body %}  
<section class="back">
    <div class="login">
        <h1>Cadastro Pitacos</h1>
        <form action="" method="post">
            {{ formcadastro.csrf_token }}
            {{ formcadatro.email(placeholder="Email") }}
            {{ formcadastro.username(placeholder="Username") }}
            {{ formcadastro.password(placeholder="Password") }}
            {{ formcadastro.btn_submit }}
        </form>
        <p>Já tem conta?<a href="#">Fazer login</a></p>
    </div>
</section>
{% endblock %}
