{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% for grupo in grupos %}
        <div class="dt">
        
        <div class="grupo"><p href="">Grupo {{ grupo.nome_grupo }}</p></div>
        <table class="table table-dark table-hover">
            <thead>
                    <tr>
                        <th>#</th>
                        <th class="nt">Clube</th>
                        <th>pts</th>
                        <th>jgs</th>
                        <th>vit</th>
                        <th>der</th>
                        <th>gf</th>
                        <th>gs</th>
                        <th>sg</th>
                    </tr>
                </thead>
                {% for selecao in selecoes %}
                    {% if selecao.grupo.nome_grupo == grupo.nome_grupo %}
                <tbody>
                    <tr class="rt">
                        <td>1</td>
                        <td>
                            <div class="row">
                                <div class="col-6 nt"><img src="{{ url_for('static', filename='img/b1.png') }}" alt="" ></div>
                                <div class="col-6"><p>{{ selecao.nome }}</p></div>
                            </div>
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
        </div>    
    </div>
{% endblock %}