{% extends 'base.html' %}

{% block body %}

    
    <div class="container font-monospace pt-5 pe-0">
        <div class="row mb-4"><div class="col-12"><h4 class="white">Classificação de Grupo</h4></div></div>
        <div class="row p-2 row-cols-1 row-cols-lg-2" id="rank-table-clubs" style="background-color: #17181f;">     
            {% for grupo in grupos %} 
            {% set aux = namespace(value=0) %}
            <div class="col-sm-12 col-lg-6">                             
                <div class="grupo"><p href="">Grupo {{ grupo.nome_grupo }}</p></div>
                <table class="table table-dark table-hover w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="nt">Clube</th>
                            <th>pts</th>
                            <th>jgs</th>
                            <th>vit</th>
                            <th class="table-emp">emp</th>
                            <th class="table-der">der</th>
                            <th class="table-gf">gf</th>
                            <th class="table-gs">gs</th>
                            <th>sg</th>
                        </tr>
                    </thead>
                    {% for i, selecao in enumerate(selecoes) %}   
                        {% if selecao.grupo.nome_grupo == grupo.nome_grupo %}    
                            {% set aux.value =  aux.value + 1 %}    
                    <tbody class="">

                        <tr class="rt">                          
                            <td>{{ aux.value }}</td>                           
                            <td class="sele-info align-self-center" style="width: 45%;">
                                <div class="row">
                                    <div class="col-2 nt"><img src="{{ url_for('static', filename='img/img_bandeiras/{}'.format(selecao.foto_selecao)) }}" alt="" width="20px" height="15px"></div>
                                    <div class="selecao-nome col-10"><p class="m-0">{{ selecao.nome }}</p></div>
                                </div>
                            </td>
                            <td class="align-self-center">{{ selecao.pontos }}</td>
                            <td class="align-self-center">{{ selecao.qnt_jogos }}</td>
                            <td class="align-self-center">{{ selecao.vitorias }}</td>
                            <td class="table-emp-row align-self-center">{{ selecao.empates }}</td>
                            <td class="table-der-row align-self-center">{{ selecao.derrotas }}</td>
                            <td class="table-gf-row align-self-center">{{ selecao.gols_marcado }}</td>
                            <td class="table-gs-row align-self-center">{{ selecao.gols_sofrido }}</td>
                            <td>{{ selecao.gols_marcado - selecao.gols_sofrido }}</td>
                        </tr class="align-self-center">
                    </tbody>                             
                                                         
                        {% endif %}                       
                        
                    {% endfor %}
                </table>               
            </div> 
            {% endfor %}      
        </div>  
        <!--outavas de final--> 
        <div class="row mb-4 mt-4"><div class="col-12"><h4 class="white">Oitavas de final</h4></div></div> 
        <div class="row mb-5 px-2">
            <div class=" col-md-12 col-sm-12 mb-3">
                <div class="col-12 border rounded-2 bg-light p-2 shadow">
                    <div class="row">
                        <div class="col-12">
                            <p>data:</p>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-2 text-center"><img src="" alt="" width="60px" height="40px"></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time1</h5>
                        </div>
                        <div class="col-1 text-center"><h5>2</h5></div>
                        <div class="col-1 text-center">
                            <h4>X</h4>
                        </div>
                        <div class="col-1 text-center"><h5>1</h5></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time2</h5>
                        </div>
                        <div class="col-2  text-center"><img src="" alt="" width="60px" height="40px"></div>
                    </div>                    
                </div>
            </div>               
        </div>
        <!------------------------------------------------------------------------------->
         <!--quartas de final--> 
         <div class="row mb-4 mt-4"><div class="col-12"><h4 class="white">Quartas de final</h4></div></div> 
         <div class="row mb-5 px-2">
             <div class=" col-md-12 col-sm-12 mb-3">
                 <div class="col-12 border rounded-2 bg-light p-2 shadow">
                     <div class="row">
                         <div class="col-12">
                             <p>data:</p>
                         </div>
                     </div>
                     <div class="row justify-content-around">
                         <div class="col-2 text-center"><img src="" alt="" width="60px" height="40px"></div>
                         <div class="col-2 p-0 m-0 text-truncate text-center">
                             <h5 class="fw-semibold">time1</h5>
                         </div>
                         <div class="col-1 text-center"><h5>2</h5></div>
                         <div class="col-1 text-center">
                             <h4>X</h4>
                         </div>
                         <div class="col-1 text-center"><h5>1</h5></div>
                         <div class="col-2 p-0 m-0 text-truncate text-center">
                             <h5 class="fw-semibold">time2</h5>
                         </div>
                         <div class="col-2  text-center"><img src="" alt="" width="60px" height="40px"></div>
                     </div>                    
                 </div>
             </div>               
         </div>
         <!------------------------------------------------------------------------------->
          <!--semi final--> 
        <div class="row mb-4 mt-4"><div class="col-12"><h4 class="white">Semifinal</h4></div></div> 
        <div class="row mb-5 px-2">
            <div class=" col-md-12 col-sm-12 mb-3">
                <div class="col-12 border rounded-2 bg-light p-2 shadow">
                    <div class="row">
                        <div class="col-12">
                            <p>data:</p>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-2 text-center"><img src="" alt="" width="60px" height="40px"></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time1</h5>
                        </div>
                        <div class="col-1 text-center"><h5>2</h5></div>
                        <div class="col-1 text-center">
                            <h4>X</h4>
                        </div>
                        <div class="col-1 text-center"><h5>1</h5></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time2</h5>
                        </div>
                        <div class="col-2  text-center"><img src="" alt="" width="60px" height="40px"></div>
                    </div>                    
                </div>
            </div>               
        </div>
        <!------------------------------------------------------------------------------->
         <!--terceiro lugar--> 
         <div class="row mb-4 mt-4"><div class="col-12"><h4 class="white">3° Lugar</h4></div></div> 
         <div class="row mb-5 px-2">
             <div class=" col-md-12 col-sm-12 mb-3">
                 <div class="col-12 border rounded-2 bg-light p-2 shadow">
                     <div class="row">
                         <div class="col-12">
                             <p>data:</p>
                         </div>
                     </div>
                     <div class="row justify-content-around">
                         <div class="col-2 text-center"><img src="" alt="" width="60px" height="40px"></div>
                         <div class="col-2 p-0 m-0 text-truncate text-center">
                             <h5 class="fw-semibold">time1</h5>
                         </div>
                         <div class="col-1 text-center"><h5>2</h5></div>
                         <div class="col-1 text-center">
                             <h4>X</h4>
                         </div>
                         <div class="col-1 text-center"><h5>1</h5></div>
                         <div class="col-2 p-0 m-0 text-truncate text-center">
                             <h5 class="fw-semibold">time2</h5>
                         </div>
                         <div class="col-2  text-center"><img src="" alt="" width="60px" height="40px"></div>
                     </div>                    
                 </div>
             </div>               
         </div>
         <!------------------------------------------------------------------------------->
          <!--final--> 
        <div class="row mb-4 mt-4"><div class="col-12"><h4 class="white">Final</h4></div></div> 
        <div class="row mb-5 px-2">
            <div class=" col-md-12 col-sm-12 mb-3">
                <div class="col-12 border rounded-2 bg-light p-2 shadow">
                    <div class="row">
                        <div class="col-12">
                            <p>data:</p>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-2 text-center"><img src="" alt="" width="60px" height="40px"></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time1</h5>
                        </div>
                        <div class="col-1 text-center"><h5>2</h5></div>
                        <div class="col-1 text-center">
                            <h4>X</h4>
                        </div>
                        <div class="col-1 text-center"><h5>1</h5></div>
                        <div class="col-2 p-0 m-0 text-truncate text-center">
                            <h5 class="fw-semibold">time2</h5>
                        </div>
                        <div class="col-2  text-center"><img src="" alt="" width="60px" height="40px"></div>
                    </div>                    
                </div>
            </div>               
        </div>
        <!------------------------------------------------------------------------------->
    </div>
{% endblock %}