<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/copadomundo/static/main.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="cont">
        <div class="dt">
        <div class="grupo"><p href="">grupa A</p></div>
        <table class="table table-dark">
            <thead>
                    <tr>
                        <th>#</th>
                        <th class="nt">Clube</th>
                        <th>pts</th>
                        <th>jgs</th>
                        <th>vit</th>
                        <th>der</th>
                        <th>gf</th>
                        <th>gs</th>
                        <th>sg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rt">
                        <td>1</td>
                        <th class="nt">
                            <img src="/copadomundo/static/img/b1.png" alt="">
                            Brazil
                        </th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</body>
</html>