body{
    background-repeat: no-repeat; background-attachment: fixed; background-size: cover;
}

.container {background-color: #130912e8;}

.transparent-1 {background-color: #130912e8;}

.transparent-2 {background-color: #130912f6;}

.transparent-3 {background-color: #1b0f1af6;}

.white{
    color: white;
}

.black{
    color: black;
}


/* ------Login------ */
.back{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(202, 209, 202, 0.7);
    backdrop-filter: blur(12px);
    width: 450px;
    height: 500px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px black;

    
}

.login input{
    border:none;
    border-radius: 5px;
    padding-left: 15px;
    height: 45px;
    font-size: 20px;
    margin-top: 15px;  
    outline: none; 
    color: #9c163c;
}

.login form{
    display: flex;
    width: 90%;
    flex-direction: column;
    
    
}

.login h1{
    font-size: 30px;
    font-weight: 800;
    color: #730e2e;


}

.login img{
    width: 86px;
    height: auto;
}

input::placeholder{
    color: #030001;
    font-size: 15px;
}

.button{
    background-color:  #9c163c;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white !important;
}
.button:hover{
    background-color: #520118;
    color: #fff;
    
}

form [type="submit"]::hover{
    color: #9c163c;
}

p{
    font-size: 15px;
}

p a{
    margin-left: 5px;
    text-decoration: none;
}

/*------------------------------CSS DO GRUPOS------------------------------------*/

.dt{
    background-color: black;
}
.grupo{
    width: 100%;
    height: 30px;
    background-color: rgb(10, 10, 10);
    display: flex;
    padding-left: 15px;
}
.grupo p{
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
}


/*-----------------------END CSS DO GRUPOS--------------------------------------*/